*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(255, 170, 238);   
  }
p{
    font-family: cursive;
    font-size: 20px;
 }  
body{
    
    font-family:cursive;

}

h1{

    font-family:cursive;
}

.textarea, .contenedor1, .contenedor2 {
    line-height: 1.5;
    width: 100%;
    border-radius: 20px;
    resize: none;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    outline: 0;
    font-weight: 400;
    background: rgb(255, 190, 245);
    color: rgb(74, 0, 53) ; 
}



