body {
    font-family: cursive;
    background-color: rgb(252, 214, 255);
    text-align: center;
}
header {
    background-color: rgb(252, 214, 255);
    font-size: medium;
    font-family: cursive;
    text-align: center;
    color: #000000;
    padding: 20px;
}
h1 {
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}
textarea {
    width: 100%;
    height: 110px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    box-shadow: #3b003e;
    border-radius: 10px;
}
ul {
    text-align: center;
    width: 60%;
    margin-left: 18%;
}
div[name="cajalista"] {
    background-color: rgb(252, 214, 255);
    ;
}

.metric {
    display: inline-block;
    background-color: rgb(252, 214, 255);
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 15px;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
li.metric[data-testid="word-count"] {
    background-color: #88c7fe;
}
li.metric[data-testid="character-count"] {
    background-color: #7fdb73;
}
li.metric[data-testid="character-no-spaces-count"] {
    background-color: #e7fa88;
}
li.metric[data-testid="number-count"] {
    background-color: #ffbb78;
}
li.metric[data-testid="number-sum"] {
    background-color: #ff8bd2;
}
li.metric[data-testid="word-length-average"] {
    background-color: #c67cd6;
}
textarea[name="user-input"] {
    margin-top: 20px;
    width: 50%;
    height: 200px;
}
#reset-button {
    background-color: rgb(62, 0, 107);
    color: white;
    /* Cambia el color del texto a blanco */
    border: none;
    /* Quita el borde predeterminado */
    border-radius: 5px;
    /* Añade esquinas redondeadas */
    padding: 5px 10px;
    /* Añade espacio alrededor del texto */
    font-size: 16px;
    /* Cambia el tamaño del texto */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón sobre el botón */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Añade una sombra */
}
footer {

    /* Cambia el color de fondo a un tono de morado */
    color: #a2007d;
    /* Cambia el color del texto a blanco */
    padding: 5px;
    /* Aumenta el espacio alrededor del contenido para mayor comodidad */
    text-align: center;
    /* Centra el texto dentro del <footer> */
    font-size: 25px;
    /* Ajusta el tamaño de fuente para mejorar la legibilidad */
    /* Agrega una línea superior con un tono de rosa claro */
}

/* Cambia el color del texto al pasar el cursor */
footer:hover {
    color: #4e0068;
}